.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: var(--text-primary);
  > * + * {
    margin-top: 1rem;
  }
  .profileImage {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--primary-light);
    border-radius: 50%;
    overflow: hidden;
    width: clamp(180px, 300px, 180px);
    padding: 0.2rem;

    img {
      border-radius: 50%;
      background: var(--primary-dark);
      background: linear-gradient(0deg, var(--primary-light) 23%, var(--primary-dark) 100%);
    }
  }
  .title {
    text-align: center;
    h2 {
      font-weight: 600;
    }
    h5 {
      color: var(--text-secondary);
      font-weight: 400;
    }
  }
  .contact {
    display: flex;
    align-items: center;

    a > button {
      display: inline-flex;
      cursor: pointer;
      background-color: var(--primary-dark);
      font: 2rem;
      box-shadow: 0 10px 35px -10px var(--primary-dark);
      color: var(--primary-contrastText);
      border: none;
      padding: 1rem 2rem;
      border-radius: 10px;
      font-size: 1rem;

      svg {
        font-size: 1.3em;
        margin-left: 0.5rem;
      }
    }
    a > button:hover {
      transition: all 0.3s ease;
      box-shadow: none;
    }
    a + div {
      & > a {
        transition: all 0.3s ease;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 10px;
        background-color: var(--background-paper);
        font-size: 1.5rem;
        color: var(--text-secondary);
      }
      a:hover {
        // filter: brightness(0.8);
        color: var(--primary-contrastText);
        background-color: var(--primary-dark);
      }
      * + * {
        margin-left: 0.6rem;
      }
    }
    * + * {
      margin-left: 1rem;
    }
  }
}
