.container {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  height: 5rem;
  div {
    max-width: 1300px;
    width: 70%;
    margin: 0 auto;
  }
  span {
    color: var(--text-primary);
    cursor: pointer;
    > :hover {
      color: var(--primary-light);
    }
  }
}
